apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail
  namespace: monitoring
data:
  config.yml: |
    server:
      http_listen_port: 9080
    clients:
      - url: http://loki:3100/loki/api/v1/push
    scrape_configs:
      - job_name: 'all-logs'
        static_configs:
          - labels:
              job: kubernetes-logs
              __path__: /var/log/pods/*/*/*.log
