apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-grafana
  namespace: {{ .Release.Namespace }}
spec:
  type: NodePort
  selector:
    app: {{ .Release.Name }}-grafana
  ports:
    - port: 80
      targetPort: 3000
      nodePort: {{ .Values.NodePort.nodePort }}
